.elementor-8374 .elementor-element.elementor-element-1b89edf4 > .elementor-container{max-width:500px;}.elementor-8374 .elementor-element.elementor-element-7a041fc9 .elementor-image img{width:100%;}.elementor-8374 .elementor-element.elementor-element-7a041fc9 > .elementor-widget-container{margin:15px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-7a3844f6 > .elementor-widget-container{margin:-40px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-4f234d5 > .elementor-widget-container{margin:-11px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-32177a1a .elementor-button .elementor-align-icon-right{margin-left:9px;}.elementor-8374 .elementor-element.elementor-element-32177a1a .elementor-button .elementor-align-icon-left{margin-right:9px;}.elementor-8374 .elementor-element.elementor-element-32177a1a .elementor-button{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:bold;fill:#FFFFFF;color:#FFFFFF;background-color:#061AFB;border-radius:12px 12px 12px 12px;padding:-1px -1px -1px -1px;}.elementor-8374 .elementor-element.elementor-element-32177a1a > .elementor-widget-container{margin:-7px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-25b0d1d4 > .elementor-widget-container{margin:-28px 0px 10px 0px;}.elementor-8374 .elementor-element.elementor-element-d3e342f{--divider-border-style:solid;--divider-color:#7B7B7B;--divider-border-width:1px;}.elementor-8374 .elementor-element.elementor-element-d3e342f .elementor-divider-separator{width:100%;}.elementor-8374 .elementor-element.elementor-element-d3e342f .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-8374 .elementor-element.elementor-element-d3e342f > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-ac93a71 .elementor-image img{max-width:88%;border-radius:40px 40px 40px 40px;}.elementor-8374 .elementor-element.elementor-element-36b869f{color:#000000;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-8374 .elementor-element.elementor-element-36b869f > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-80830a1 .elementor-image img{max-width:88%;border-radius:40px 40px 40px 40px;}.elementor-8374 .elementor-element.elementor-element-79cb111a{color:#000000;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-8374 .elementor-element.elementor-element-79cb111a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-5385032 .elementor-button .elementor-align-icon-right{margin-left:9px;}.elementor-8374 .elementor-element.elementor-element-5385032 .elementor-button .elementor-align-icon-left{margin-right:9px;}.elementor-8374 .elementor-element.elementor-element-5385032 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:bold;fill:#FFFFFF;color:#FFFFFF;background-color:#061AFB;border-radius:12px 12px 12px 12px;padding:-1px -1px -1px -1px;}.elementor-8374 .elementor-element.elementor-element-5385032 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-2a7056a1{--divider-border-style:solid;--divider-color:#7B7B7B;--divider-border-width:1px;}.elementor-8374 .elementor-element.elementor-element-2a7056a1 .elementor-divider-separator{width:100%;}.elementor-8374 .elementor-element.elementor-element-2a7056a1 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-8374 .elementor-element.elementor-element-2a7056a1 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-1e8d9ab2{color:#000000;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-8374 .elementor-element.elementor-element-1e8d9ab2 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-31514149 .elementor-image img{max-width:88%;border-radius:40px 40px 40px 40px;}.elementor-8374 .elementor-element.elementor-element-8119a03 > .elementor-widget-container{margin:-33px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-2a47cd2 .elementor-image img{max-width:88%;border-radius:40px 40px 40px 40px;}.elementor-8374 .elementor-element.elementor-element-2a47cd2 > .elementor-widget-container{margin:-19px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-5fb26e1{color:#000000;font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-8374 .elementor-element.elementor-element-5fb26e1 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9 .elementor-button .elementor-align-icon-right{margin-left:9px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9 .elementor-button .elementor-align-icon-left{margin-right:9px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:bold;fill:#FFFFFF;color:#FFFFFF;background-color:#061AFB;border-radius:12px 12px 12px 12px;padding:-1px -1px -1px -1px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-62f49ff5{--divider-border-style:solid;--divider-color:#7B7B7B;--divider-border-width:1px;}.elementor-8374 .elementor-element.elementor-element-62f49ff5 .elementor-divider-separator{width:100%;}.elementor-8374 .elementor-element.elementor-element-62f49ff5 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-8374 .elementor-element.elementor-element-62f49ff5 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-c025ca8 .elementor-image img{max-width:88%;border-radius:40px 40px 40px 40px;}.elementor-8374 .elementor-element.elementor-element-7557b8b2 .elementor-image img{width:100%;}.elementor-8374 .elementor-element.elementor-element-7557b8b2 > .elementor-widget-container{margin:-20px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-35f16478 > .elementor-widget-container{margin:-39px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-1f09306 > .elementor-widget-container{margin:-11px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button .elementor-align-icon-right{margin-left:9px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button .elementor-align-icon-left{margin-right:9px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group{padding-right:calc( 7px/2 );padding-left:calc( 7px/2 );margin-bottom:12px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-form-fields-wrapper{margin-left:calc( -7px/2 );margin-right:calc( -7px/2 );margin-bottom:-12px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group.recaptcha_v3-bottomleft, .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group > label, .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-subgroup label{color:#000000;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group > label{font-family:"Montserrat", Sans-serif;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-type-html{padding-bottom:0px;color:var( --e-global-color-primary );font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group .elementor-field{color:#000000;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group .elementor-field, .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-subgroup label{font-family:"Montserrat", Sans-serif;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:#000000;border-width:1px 1px 1px 1px;border-radius:17px 17px 17px 17px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:#000000;border-width:1px 1px 1px 1px;border-radius:17px 17px 17px 17px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group .elementor-select-wrapper::before{color:#000000;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:bold;border-radius:12px 12px 12px 12px;padding:20px 20px 20px 20px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .e-form__buttons__wrapper__button-next{background-color:#061AFB;color:#FFFFFF;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button[type="submit"]{background-color:#061AFB;color:#FFFFFF;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button[type="submit"] svg *{fill:#FFFFFF;}.elementor-8374 .elementor-element.elementor-element-173dab5e .e-form__buttons__wrapper__button-previous{background-color:#061AFB;color:#FFFFFF;}.elementor-8374 .elementor-element.elementor-element-173dab5e .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-8374 .elementor-element.elementor-element-173dab5e .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-message{font-family:"Montserrat", Sans-serif;font-weight:400;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-message.elementor-message-success{color:#000000;}.elementor-8374 .elementor-element.elementor-element-173dab5e{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#420000;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-8374 .elementor-element.elementor-element-173dab5e > .elementor-widget-container{margin:-11px 30px 30px 30px;background-color:#0B101F00;}.elementor-8374 .elementor-element.elementor-element-173dab5e:hover .elementor-widget-container{background-color:#04061400;}.elementor-8374 .elementor-element.elementor-element-5f3607d2 > .elementor-widget-container{margin:-63px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-352fc705 > .elementor-widget-container{margin:-29px 0px 0px 0px;}@media(max-width:767px){.elementor-8374 .elementor-element.elementor-element-209cc802 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-7a041fc9 .elementor-image img{width:100%;}.elementor-8374 .elementor-element.elementor-element-7a041fc9 > .elementor-widget-container{margin:-13px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-7a3844f6 > .elementor-widget-container{margin:-40px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-32177a1a .elementor-button{font-size:19px;letter-spacing:1px;padding:20px 20px 20px 20px;}.elementor-8374 .elementor-element.elementor-element-32177a1a > .elementor-widget-container{margin:6px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-32177a1a{width:100%;max-width:100%;}.elementor-8374 .elementor-element.elementor-element-25b0d1d4 > .elementor-widget-container{margin:-10px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-d3e342f > .elementor-widget-container{margin:-15px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-ac93a71 .elementor-image img{width:89%;max-width:89%;border-radius:27px 27px 27px 27px;}.elementor-8374 .elementor-element.elementor-element-ac93a71 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-36b869f .elementor-text-editor{column-gap:0px;text-align:left;}.elementor-8374 .elementor-element.elementor-element-36b869f > .elementor-widget-container{margin:-10px 0px 0px 0px;padding:0px 10px 0px 10px;}.elementor-8374 .elementor-element.elementor-element-80830a1 .elementor-image img{width:89%;max-width:89%;border-radius:27px 27px 27px 27px;}.elementor-8374 .elementor-element.elementor-element-80830a1 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-79cb111a .elementor-text-editor{column-gap:0px;text-align:left;}.elementor-8374 .elementor-element.elementor-element-79cb111a > .elementor-widget-container{margin:-10px 0px 0px 0px;padding:0px 10px 0px 10px;}.elementor-8374 .elementor-element.elementor-element-5385032 .elementor-button{font-size:19px;letter-spacing:1px;padding:20px 20px 20px 20px;}.elementor-8374 .elementor-element.elementor-element-5385032 > .elementor-widget-container{margin:6px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-5385032{width:100%;max-width:100%;}.elementor-8374 .elementor-element.elementor-element-2a7056a1 > .elementor-widget-container{margin:-15px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-1e8d9ab2 .elementor-text-editor{column-gap:0px;text-align:left;}.elementor-8374 .elementor-element.elementor-element-1e8d9ab2 > .elementor-widget-container{margin:-10px 0px 0px 0px;padding:0px 10px 0px 10px;}.elementor-8374 .elementor-element.elementor-element-31514149 .elementor-image img{width:89%;max-width:89%;border-radius:27px 27px 27px 27px;}.elementor-8374 .elementor-element.elementor-element-31514149 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-2a47cd2 .elementor-image img{width:89%;max-width:89%;border-radius:27px 27px 27px 27px;}.elementor-8374 .elementor-element.elementor-element-2a47cd2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-5fb26e1 .elementor-text-editor{column-gap:0px;text-align:left;}.elementor-8374 .elementor-element.elementor-element-5fb26e1 > .elementor-widget-container{margin:-10px 0px 0px 0px;padding:0px 10px 0px 10px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9 .elementor-button{font-size:19px;letter-spacing:1px;padding:20px 20px 20px 20px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9 > .elementor-widget-container{margin:-9px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-7a5cb6a9{width:100%;max-width:100%;}.elementor-8374 .elementor-element.elementor-element-c025ca8 .elementor-image img{width:89%;max-width:89%;border-radius:27px 27px 27px 27px;}.elementor-8374 .elementor-element.elementor-element-c025ca8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-7557b8b2 .elementor-image img{width:100%;}.elementor-8374 .elementor-element.elementor-element-7557b8b2 > .elementor-widget-container{margin:-20px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-35f16478 > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group > label{font-size:1px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-group .elementor-field, .elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-field-subgroup label{font-size:17px;line-height:0.1em;letter-spacing:0.5px;}.elementor-8374 .elementor-element.elementor-element-173dab5e .elementor-button{font-size:19px;}.elementor-8374 .elementor-element.elementor-element-173dab5e{--e-form-steps-indicators-spacing:0px;--e-form-steps-divider-width:0px;z-index:0;}.elementor-8374 .elementor-element.elementor-element-173dab5e > .elementor-widget-container{margin:6px 9px 9px 9px;}.elementor-8374 .elementor-element.elementor-element-5f3607d2 > .elementor-widget-container{margin:-40px 0px 0px 0px;}.elementor-8374 .elementor-element.elementor-element-352fc705 > .elementor-widget-container{margin:20px 20px 20px 20px;}}/* Start custom CSS for button, class: .elementor-element-32177a1a *//* CSS для кнопки з анімаційним блиском та ефектом збільшення */
@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.elementor-button-wrapper .elementor-button {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.elementor-button-wrapper .elementor-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 60px;
    height: 100px;
    background-color: #fff;
    filter: blur(30px);
    transform: skewX(30deg) translateZ(0);
    transition: 1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* Збільшення при натисканні */
.elementor-button-wrapper .elementor-button:active {
    transform: scale(1.15);
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-5385032 *//* CSS для кнопки з анімаційним блиском та ефектом збільшення */
@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.elementor-button-wrapper .elementor-button {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.elementor-button-wrapper .elementor-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 60px;
    height: 100px;
    background-color: #fff;
    filter: blur(30px);
    transform: skewX(30deg) translateZ(0);
    transition: 1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* Збільшення при натисканні */
.elementor-button-wrapper .elementor-button:active {
    transform: scale(1.15);
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-7a5cb6a9 *//* CSS для кнопки з анімаційним блиском та ефектом збільшення */
@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.elementor-button-wrapper .elementor-button {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.elementor-button-wrapper .elementor-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 60px;
    height: 100px;
    background-color: #fff;
    filter: blur(30px);
    transform: skewX(30deg) translateZ(0);
    transition: 1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* Збільшення при натисканні */
.elementor-button-wrapper .elementor-button:active {
    transform: scale(1.15);
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-173dab5e */@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

button.elementor-button.elementor-size-lg {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

button.elementor-button.elementor-size-lg:after {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 60px;
    height: 100px;
    background-color: #fff;
    filter: blur(30px);
    transform: skewX(30deg) translateZ(0);
    transition: 1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* Збільшення при натисканні */
button.elementor-button.elementor-size-lg:active {
    transform: scale(1.15);
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
/* End Custom Fonts CSS */